
<div class="row" ng-if="searchVm.hasError">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger" role="alert">
            We ran into an unexpected error. Please contact us if the problem persists.
        </div>
    </div>
</div>

<div class="row search-criteria">
    <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
            <span class="input-group-addon">Name Search</span>
            <input type="text" class="form-control" placeholder="Type first or last name ..."
                   ng-model="searchVm.criteria.name"
                   ng-model-options="{ debounce: 500 }"
                   ng-change="searchVm.search(searchVm.criteria)" />
        </div>
    </div>
</div>

<div class="row search-results" ng-if="searchVm.showResults">
    <div class="col-md-8 col-md-offset-2">
        <div class="row" ng-repeat="row in searchVm.data">
            <div class="col-md-4 text-center">
                <img ng-src="{{row.imageUrl}}" ng-if="row.imageUrl" />
                <div class="person-name">{{row.firstName + " " + row.lastName}}</div>
            </div>
            <div class="col-md-4 text-center">
                <br />
                {{row.addressLine1}}<br ng-if="row.addressLine2" />
                {{row.addressLine2}}<br />
                {{row.city}}, {{row.state}} {{row.zipCode}}<br />
                Age: {{row.age}}
            </div>
            <div class="col-md-4">
                <br />
                <ul>
                    <li ng-repeat="interest in row.interests">{{interest}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
